<div class="card card-hover">
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Totalidad de Alertas según tipo</h4>
                <h5 class="card-subtitle">Grafica de Alertas</h5>
            </div> 
        </div>
        <!-- column -->
        <div class="row m-t-40">
            <!-- column -->
            <div class="col-lg-6">
                <div id="report_bar" class="m-t-20"></div>
            </div> 
        </div>
        <!-- column -->
    </div>
</div>