<div class="row">
  <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Mantenedor de Inicidencias</h3>
          <h6 class="card-subtitle">This is incidence maintainer demo</h6>
          <ngb-tabset type="pills">
            <ngb-tab title="Crear">
              <ng-template ngbTabContent>
                  <h4 style="text-align: center" >Registro de Incidencias</h4><hr>
              <div  class=".col-6 .col-md-4">
                <form #formUser="ngForm" (ngSubmit)="onSubmit(); formUser.reset();" action="">
                  <h6 style="text-align: left ;margin-left: 2% ">Nombre: </h6>
                  <input   type="text"  name="name" #name="ngModel" [(ngModel)]="model.name"  placeholder="Nombre de incidencia" required>
                  <h6 style="text-align: left ; margin-left: 2%">Descripcion: </h6>
                  <input type="text" name="description" #description="ngModel" [(ngModel)]="model.description"  placeholder="breve Descripcion" required><br>
                    
                  

                 
                
                  <div class=".col-8  .col-md-4" ><br>
                    <h4 style="text-align: center" >Listado de Contactos</h4><hr>
                    <table class="table table-responsive{-md:12}" style="width:100%" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
                      <thead>
                      <tr>
                          <th style="width: 10% ; text-align: center" hidden>
                              <mfDefaultSorter by="age">ID</mfDefaultSorter>
                          </th>
                          <th style="width: 20% ; text-align: center">
                              <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
                          </th>
                          <th style="width: 50% ; text-align: center">
                              <mfDefaultSorter by="email">Descripcion</mfDefaultSorter>
                          </th>
                          <th style="width: 50% ; text-align: center">
                            <mfDefaultSorter by="email">Telefono</mfDefaultSorter>
                        </th>
                        <th style="width: 50% ; text-align: center">
                          <mfDefaultSorter by="email">Direccion</mfDefaultSorter>
                      </th>
                      <th style="width: 50% ; text-align: center">
                        <mfDefaultSorter by="email">Email</mfDefaultSorter>
                    </th>
                   
                         
                          <th style="width: 20%; text-align: center">
                            <mfDefaultSorter by="modificar">CHECK</mfDefaultSorter>
                          </th>
                         
                      </tr>
                      </thead> 
                      <tbody>
                      <tr *ngFor="let contact of ArrayContacts">
                          <td style="text-align: center" hidden >{{contact.id}}</td>
                          <td style="text-align: center" >{{contact.name}}</td>
                          <td style="text-align: center">{{contact.description}}</td>
                          <td style="text-align: center">{{contact.phone}}</td>
                          <td style="text-align: center">{{contact.address}}</td>
                          <td style="text-align: center">{{contact.email}}</td>
                          <!--<td class="text-right">{{user.rut}}</td> 
                           <td>{{user.address | uppercase}}</td> -->
                          <!-- <input class="" type="checkbox"  value="{{contact.id}}" name="contact_id" #contact_id="ngModel" [(ngModel)]="model.contact_id">
                          <input type="checkbox"
                          name="ArrayContacts"
                          value="{{contact.id}}"
                          [(ngModel)]="contact.id"/>  -->
                      <!--    <input type="text" name="description" #description="ngModel" [(ngModel)]="model.description"  placeholder="breve Descripcion" required><br>-->

                         <!-- <div class="form-check" *ngFor="let cat of  ArrayContacts"> -->
                       
                       
                       <!--
                          <div>
                            <input class="form-check-input" [value]="contact.id" [(ngModel)]="model.contact_id" name="{{ contact.name }}" type="checkbox" id="{{contact.id}}" (change)="onChangeCategory($event, contact)">
                              <label class="form-check-label" for="{{contact.name}}">
                              {{contact.name}}
                            </label>
                        </div> -->
                       <!-- </div> -->
                       <div class="checkbox" >
                          <label>
                            <input  type="checkbox" value="{{contact.id}}" (change)="onCheckboxChange(contact,$event)" >{{contact.name}}
                          </label>
                        </div>



                      </tr>
                    </tbody>
                      <tfoot>
                      <tr>
                          <td colspan="4">
                              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                          </td>
                      </tr>
                      </tfoot>
                  </table>
           </div>
              <button   style="margin-left: 1%" class="btn btn-rounded btn-info " (click)="add()">Crear Incidencia</button>
                </form>
              </div> 
                  
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <b>Listado de Incidencias</b>
              </ng-template>
              <ng-template ngbTabContent>
                      <div class="listado" ><br>
                        <h4 style="text-align: center" >Listado de Incidencias</h4><hr>
                        <table class="table table-responsive{-md:12}" style="width:100%" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
                          <thead>
                          <tr>
                              <th style="width: 10% ; text-align: center" hidden>
                                  <mfDefaultSorter by="age">ID</mfDefaultSorter>
                              </th>
                              <th style="width: 20% ; text-align: center">
                                  <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
                              </th>
                              <th style="width: 50% ; text-align: center">
                                  <mfDefaultSorter by="email">Descripcion</mfDefaultSorter>
                              </th>
                             
                              <th style="width: 20%; text-align: center">
                                <mfDefaultSorter by="modificar">Modificar</mfDefaultSorter>
                              </th>
                              <th style="width: 20%; text-align: center">
                                <mfDefaultSorter by="modificar">Eliminar</mfDefaultSorter>
                              </th> 
                          </tr>
                          </thead> 
                          <tbody>
                          <tr *ngFor="let incidence of ArrayIncidences">
                              <td style="text-align: center" hidden >{{incidence.id}}</td>
                              <td style="text-align: center" >{{incidence.name}}</td>
                              <td style="text-align: center">{{incidence.description}}</td>
                              <!--<td class="text-right">{{user.rut}}</td> 
                               <td>{{user.address | uppercase}}</td> -->
                             <td style="text-align: center"> <button type="submit"  style="margin-left: 0px" class="btn btn-rounded  btn-success" (click)="detail(incidence); open2(content)">Modificar</button> </td>
                            
                             <td style="text-align: center"> <button type="submit"  style="margin-left: 0px" class="btn btn-rounded  btn-danger">Eliminar</button> </td>
                             
                          </tr>
                        </tbody>
                          <tfoot>
                          <tr>
                              <td colspan="4">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                          </tfoot>
                      </table>
               </div>
                 </ng-template>

                 <ng-template #content let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title">Editar Incidencia</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div  style="text-align: center">
                      <form #formUser="ngForm" (ngSubmit)="onSubmit(); formUser.reset();" action="">
                       
                        <h6 style="text-align: left ;margin-left: 2% " hidden> ID: </h6>
                        <input  sytle="width: 100%;" type="text"  name="id" #id="ngModel" [(ngModel)]="idincidence"  hidden required>
                        <h6 style="text-align: left ;margin-left: 2% ">Nombre: </h6> 
                        <input  sytle="width: 100%;" type="text"  name="name" #name="ngModel" [(ngModel)]="nameincidence"   required>
                        <h6 style="text-align: left ; margin-left: 2%">Descripcion: </h6>
                        <input type="text" name="description" #description="ngModel" [(ngModel)]="descriptionincidence"  required><br>
                        <div class="checkbox" *ngFor="let contact of ArrayContacts" >
                            <label>
                              <input  type="checkbox" value="{{contact.id}}" (change)="onCheckboxChange(contact,$event)" >{{contact.name}}
                            </label>
                          </div>
                        <button   style="margin-left: 1%" class="btn btn-rounded btn-info" (click)=" update()">Modificar Incidencia</button>
                      </form>
                      </div> 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
                  </div>
          </ng-template>

            </ngb-tab>
            <ngb-tab title="Disabled" [disabled]="true">
              <ng-template ngbTabContent>
                <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                  master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                  keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                  salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
</div>