<div class="row">
  <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Mantenedor de usuarios</h3>
          <h6 class="card-subtitle">This is maintainer demo</h6>
          <ngb-tabset type="pills">
            <ngb-tab title="Crear">
              <ng-template ngbTabContent>
                  <h4 style="text-align: center" >Registro de Usuarios</h4><hr>
              <div  style="text-align: center"></div>


                
              </ng-template>
            </ngb-tab>
          </ngb-tab>
        </div>
    </div>
  </div>
</div>