<!-- ============================================================== -->
<!-- User Data, Visits -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="row"> 
                <!-- column -->
                <div class="col-sm-12 col-md-8">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">Avance de Alertas</h4>
                                <h5 class="card-subtitle">Por Fecha</h5>
                            </div>
                            <div class="ml-auto d-flex align-items-center"> 
                            </div>
                        </div>
                        <div class="m-t-30">
                            <div id="placeholder"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>