<div class="row">
  <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Mantenedor de Terrenos</h3>
          <h6 class="card-subtitle">This is grounds maintainer demo</h6>
          <ngb-tabset type="pills">
            <ngb-tab title="Crear">
              <ng-template ngbTabContent>
                  <h4 style="text-align: center" >Registro de Terrenos</h4><hr>
              <div  style="text-align: center">
                  <form #formUser="ngForm" (ngSubmit)="onSubmit(); formUser.reset();" action="">
                    <!--name="name" #nombre="ngModel" [(ngModel)]="user.name" 
                    name="rut" #rut="ngModel" [(ngModel)]="user.rut"
                    name="email" #email="ngModel" [(ngModel)]="user.email"
                    name="address" #nombre="ngModel" [(ngModel)]="user.address"
                    #nombre="ngModel" [(ngModel)]="user.phone" name="usuario" 
                    name="password" #password="ngModel" [(ngModel)]="user.password"
                    -->
                    <h6 style="text-align: left ;margin-left: 1% ">Nombre: </h6>
                    <input type="text" placeholder="Nombre del Terreno" name="name" #name="ngModel" [(ngModel)]="model.name" required>
                    <h6 style="text-align: left ; margin-left: 1%">Descripcion: </h6>
                    <input type="text"   placeholder="Entre calle x de la comuna x" name="description" #description="ngModel" [(ngModel)]="model.description" required><br>
                    <!--<h6 style="text-align: left ;margin-left: 26% ">Email:</h6><input  type="email" placeholder="example@test.cl"   required>
                    <h6 style="text-align: left ;margin-left: 26% ">Direccion: </h6><input  type="text" placeholder="Direccion" >
                    <h6 style="text-align: left ;margin-left: 26%">Telefono: </h6><input  type="text" placeholder="+569..."   required>
                    <h6 style="text-align: left ;margin-left: 26%">Password: </h6><input   type="password" placeholder="••••••••"  > -->
                    <h6 style="text-align: left ;margin-left: 1%">Zona: </h6>
                    <select  style="width :100%" name="zone_id" #zone_id="ngModel" [(ngModel)]="model.zone_id">
                      <!-- <option selected style="background: rgb(147, 147, 147)" value="">Seleccione Grupo ...</option> -->
                        <option  *ngFor="let zone of ArrayZones" [value]="zone.id" >{{zone.name}}</option>
                      
                     </select> <br>
                    <h6 style="text-align: left ;margin-left: 1%">Tipo Terreno: </h6>
                    <select style="width :100%" name="tygr_id" #tygr_id="ngModel" [(ngModel)]="model.tygr_id">
                      <!-- <option selected style="background: rgb(147, 147, 147)" value="">Seleccione Grupo ...</option> -->
                        <option  *ngFor="let typeground of ArrayTypeGrounds" [value]="typeground.id"  >{{typeground.name}}</option>
                      
                     </select> <br>
                    <button type="submit"  style="margin-left: 1%" class="btn btn-rounded btn-info" (click)="add()">Crear Terreno</button>
                  </form>
                  </div> 
                  

              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <b>Listado de Terrenos</b>
              </ng-template>
              <ng-template ngbTabContent>
                      <div class="listado" ><br>
                        <h4 style="text-align: center" >Listado de Terrenos</h4><hr>
                        <table class="table table-responsive{-md:12}" style="width:100%" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
                          <thead>
                          <tr>
                              <th style="width: 20% ; text-align: center">
                                  <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
                              </th>
                              <th style="width: 50% ; text-align: center">
                                  <mfDefaultSorter by="email">Descripcion</mfDefaultSorter>
                              </th>
                              <th style="width: 10% ; text-align: center">
                                  <mfDefaultSorter by="age">Tipo Terreno</mfDefaultSorter>
                              </th>
                              <th style="width: 20% ; text-align: center">
                                  <mfDefaultSorter by="city">Zona</mfDefaultSorter>
                              </th>
                              
                              <th style="width: 20%; text-align: center">
                                <mfDefaultSorter by="modificar">Modificar</mfDefaultSorter>
                              </th>
                              <th style="width: 20%; text-align: center">
                                <mfDefaultSorter by="modificar">Eliminar</mfDefaultSorter>
                              </th> 
                          </tr>
                          </thead> 
                          <tbody>
                          <tr *ngFor="let ground of ArrayGrounds">
                              <td>{{ground.name}}</td>
                              <td>{{ground.description}}</td> 
                              <td>{{ground.zone.name }}</td> 
                              <td>{{ground.type_ground.name}}</td> 
                             <td> <button type="submit"  style="margin-left: 0px" class="btn btn-rounded  btn-success" (click)="detail(ground); open2(content)">Modificar</button> </td>
                             <td> <button type="submit"  style="margin-left: 0px" class="btn btn-rounded  btn-danger">Eliminar</button> </td>

                          </tr>
                          </tbody>
                          <tfoot>
                          <tr>
                              <td colspan="4">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                          </tfoot>
                      </table>
                    
                    </div>
              </ng-template>
              <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title">Editar Terrenos</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div  style="text-align: center">
                    <form #formUser="ngForm" (ngSubmit)="onSubmit(); formUser.reset();" action="">
                     
                      <h6 style="text-align: left ;margin-left: 2% " hidden> ID: </h6>
                      <input  sytle="width: 100%;" type="text"  name="id" #id="ngModel" [(ngModel)]="idground"  hidden required>
                      <h6 style="text-align: left ;margin-left: 2% ">Nombre: </h6> 
                      <input  sytle="width: 100%;" type="text"  name="name" #name="ngModel" [(ngModel)]="nameground"   required>
                      <h6 style="text-align: left ; margin-left: 2%">Descripcion: </h6>
                      <input type="text" name="description" #description="ngModel" [(ngModel)]="descriptionground"  required>
                      <h6 style="text-align: left ; margin-left: 2%">Grupo: </h6>
                      <select style="width :100%" name="zone_id" #zone_id="ngModel" [(ngModel)]="zone_idground">
                        <!-- <option selected style="background: rgb(147, 147, 147)" value="">Seleccione Grupo ...</option> -->
                         <option   *ngFor="let zone of ArrayZones" [value]="zone.id" placeholder="Selecionar Zona" >{{zone.name}}</option>
                        
                       </select> <br>
                       <select  style="width :100%" name="tygr_id" #tygr_id="ngModel" [(ngModel)]="tygr_idground">
                        <!-- <option selected style="background: rgb(147, 147, 147)" value="">Seleccione Grupo ...</option> -->
                         <option   *ngFor="let typeground of ArrayTypeGrounds" [value]="typeground.id" placeholder="Selecionar tipo de terreno" >{{typeground.name}}</option>
                        
                       </select> <br>
                      <button  style="margin-left: 1%" class="btn btn-rounded btn-info" (click)="update()">Modificar Terreno</button>
                    </form>
                    </div> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
                </div>
        </ng-template>

            </ngb-tab>
            <ngb-tab title="Disabled" [disabled]="true">
              <ng-template ngbTabContent>
                <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                  master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                  keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                  salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
</div>